/* 3.0 Forms and Form elements */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="file"],
textarea,
select{
	max-width: 90%;
	max-width: calc( 100% - 10px );
}

// Padding
input[type="text"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="password"],
input[type="submit"],
input[type="reset"],
button,
textarea,
.comment-reply-link,
.read-more,
.nav-previous a,
.nav-next a,
.page-numbers:not(.dots){
	padding: 5px 8px;
}

// text input
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea{
	background-color: white; 
	color: black;
	appearance: none !important;
}

// border
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="submit"],
input[type="reset"],
button,
textarea,
.comment-reply-link,
.read-more,
.nav-previous a,
.nav-next a,
.page-numbers:not(.dots){
	border: 1px solid $inputBorderColor;
	border-radius: 0px !important;
}

// button hover
input[type="submit"],
input[type="reset"],
button,
.comment-reply-link,
.read-more,
.nav-previous a,
.nav-next a,
.page-numbers:not(.dots){
	transition: .3s ease-in-out;
	text-decoration: none !important;

	&:hover{
		background-color: $buttonColor;
		text-decoration: none;
	}
}

// background-color reset
input[type="submit"],
input[type="reset"],
button,
.comment-reply-link{
	background-color: transparent;
}

.page-numbers.current{
	background-color: $buttonColor;
}

.nav-links{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.nav-previous,
.nav-next{ line-height: 40px; }

.nav-previous ~ .nav-next{ margin-left: 1rem; }

.nav-previous a:before{
	content: '\f177';
	font-family: FontAwesome;
	padding-right: 5px;
}

.nav-next a:after{
	content: '\f178';
	font-family: FontAwesome;
	padding-left: 5px;
}

// Pagination
.pagination{
	margin-bottom: 20px;

	> span:not(.page-links-title),
	> a{
		display: inline-block;
		width: 25px;
		height: 25px;
		text-align: center;
		line-height: 25px;
		margin: 0 5px;
		border: 1px solid $buttonColor;
	}

	> span:not(.page-links-title){
		background-color: $buttonColor
	}

	> a{
		transition: .3s ease-in-out;
		&:hover{ 
			background-color: $buttonColor;
			text-decoration: none;
		}
	}
}

// Search
.search-form{
	display: flex;

	input[type="search"]{
		border-right: 0;
	}
}

@media (max-width: $tablet){
	.nav-links{
		display: block;
		text-align: center;
	}

	.nav-previous ~ .nav-next{
		margin: 0;
	}
}