/* 6.0 Header */
.site-header{ background-color: $yellow; }

.site-header-items-wrapper{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem 0;
}

.site-identity{ 
	flex: 1; 
	margin-right: 10px;
}

.custom-logo-link{ display: block; }

.site-title,
.site-tagline,
.bidnis-social-media-links{ 
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
	margin: 0; 
}

.site-title,
.site-tagline{
	font-weight: 800;
	text-transform: uppercase;
}

.site-title ~ .site-tagline{
	margin-top: -8px;
}

.site-title{
	font-size: 2.2rem;
	margin: 0;

	& a:hover{ text-decoration: none; }
}

.site-tagline{
	margin: 0;
	font-size: .8rem;
}

.social-bar{ display: flex; }

.bidnis-phone,
.bidnis-email{
	font-weight: 600;
	margin-right: 1rem;
	word-wrap: break-word;

	&:before{
		font-family: FontAwesome;
		margin-right: .5rem;
	}

	&:hover{ text-decoration: none; }
}

.bidnis-phone:before{ content: '\f095'; }
.bidnis-email:before{ content: '\f0e0'; }

.bidnis-social-media-links{
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	line-height: 25px;
	
	a{
		background-color: $black;
		color: white !important;
		width: 25px;
		text-align: center;
		border-radius: 2px;

		&:not(:first-child){ margin-left: .5rem; }
	}
}

.header-image-container{
	background-color: $black;
	position: relative;
	min-height: 0;
	
	img{
		width: 100%; 
		height: auto;
		vertical-align: bottom;
	}
}

.custom-header-image-content .header-image-container{ min-height: 300px; }

.header-image-inner{
	height: auto;
	display: flex;
  align-items: center;
  justify-content: left;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.header-image-inner{
		margin: 0 40px;
	}
}

.header-image-text,
.header-image-cta{
	text-transform: uppercase;
	font-weight: 700;
}

.header-image-text{
	font-size: 3.3rem;
	color: white;
	text-shadow: 3px 3px $black;
}

.header-image-cta{
	display: inline-block;
	background-color: $yellow;
	color: $black;
	font-size: 2.6rem;
	box-shadow: 3px 3px $black;
	border-radius: 2px;
	padding: 10px 20px;
	margin-top: 20px;
	transition: .3s ease-in-out;

	&:hover{
		text-decoration: none;
		padding: 10px 24px;
	}
}

@media (max-width: $tablet){
	.site-header-items-wrapper{
		padding: 0 0 20px;
		margin: 0;
	}

	.custom-logo-link{ text-align: center; }

	.social-bar,
	.site-identity{
		width: 100%;
	}

	.site-identity{
		flex: none;
		margin: 20px auto;
	}

	.site-title,
	.site-tagline{
		display: block;
		text-align: center;
	}

	.bidnis-phone-email{ width: 100%; }

	.bidnis-phone,
	.bidnis-email{
		display: block;
		text-align: center;
	}

	.social-bar{
		background-color: $black;
		order: -1;
		color: white;
		padding: 0 10px;
		line-height: 50px;
	}

	.bidnis-social-media-links{
		line-height: 50px;
		
		a{
			width: auto;
			font-size: 1.6rem;
			margin-left: 1rem !important;
		}
	}

	.header-image-container img{ display: none; }

	.header-image-inner{
		text-align: center;
		justify-content: center;
	}

	.header-image-text{ font-size: 2rem; }

	.header-image-cta{ font-size: 1.6rem; }
}