/* 6.0 Site header*/
#site-header {
  background-color: var(--color-scheme);
  color: var(--header-text-color);

  a {
    text-decoration: none;
    color: var(--header-text-color);
  }
}

#site-branding {
  display: grid;
  grid-template-columns: minmax(0px, 100%);
  text-align: center;
  font-weight: 800;
}

.site-title,
.site-tagline {
  text-transform: uppercase;
}

.site-title {
  text-decoration: none;
  font-size: 2.2rem;
}

.site-tagline {
  font-size: .8rem;
}

#bidnis-phone-email {
  display: grid;
  justify-content: center;
  font-weight: 600;
  grid-gap: .5em;
  margin-top: 1em;
}

#social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  gap: 0.5em;

  a {
    background-color: #191919;
    color: #FFFFFF;
    border-radius: 0.125em;
    width: 1.5em;
    height: 1.5em;
    padding: 0.15em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#header-image-container {
  display: none;
  padding: 0;
}

@media (min-width: 48em) {
  #site-header {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) repeat(2, minmax(0, auto));    
    align-items: center;
    grid-gap: 1em;
    order: -1;
  }
  
  #site-branding {
    text-align: left;
  }

  #bidnis-phone-email {
    margin: -.5em 0 0;
    grid-template-columns: repeat(2, minmax(0, auto));
    grid-gap: 1em;
  }

  #bidnis-phone,
  #bidnis-email {
    line-height: 1.5em;
  }

  #social-links {
    margin: 0;
    justify-content: flex-end;
    max-width: 30em;
    max-height: 4.1em;
  }

  #header-image-container {
    background-color: #191919;
    min-height: 50vh;
    display: block;
    position: relative;
  }

  .header-image-container img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }

  #header-image-container-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 1em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 calc((100% - 80em) / 2);
  }

  #header-image-text, 
  #header-image-cta {
    text-transform: uppercase;
    font-weight: 700;
  }

  #header-image-text {
    font-size: 3.3rem;
    text-shadow: 3px 3px #191919;
  }

  #header-image-cta {
    background-color: var(--color-scheme);
    color: var(--header-text-color);
    font-size: 2.6rem;
    box-shadow: 3px 3px #191919;
    text-decoration: none;
    padding: .25em .5em;
    transition: .3s ease-in-out;

    &:hover {
      padding: .25em .75em;
    }
  }
}