/* 13.0 Author bio */
.author-bio{
	display: flex;
	margin: 0 0 2rem 0;

	h2{ margin: 0 0 .5rem; }

	.avatar{
		margin-right: .5rem;
		height: 50px;
		width: 50px;
	}

	.author-title{ font-size: .8rem; }

	p{
		font-size: .75rem;
		margin: 0;
	}
}

@media (max-width: $tablet){
	.author-bio{ display: block; }
}