/* 15.0 Widgets */
.above-content-widget-area,
.footer-top-widget-area,
.footer-widget-areas-wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-top-widget-area,
.footer-widget-areas-wrapper{
	margin-bottom: 40px;
}

.above-content-widget-area,
.footer-top-widget-area{
	.widget-container:nth-child(1):nth-last-child(1),
	.widget-container:nth-child(1):nth-last-child(2),
	.widget-container:nth-child(2):nth-last-child(1){
		margin-left: auto;
		margin-right: auto;
	}
}

.footer-widget-areas-wrapper{
	.widget-area:nth-child(1):nth-last-child(1),
	.widget-area:nth-child(1):nth-last-child(2),
	.widget-area:nth-child(2):nth-last-child(1){
		margin-left: auto;
		margin-right: auto;
	}
}

.above-content-widget-area{ margin-top: 40px; }
.sidebar-left-widget-area{ margin-right: 40px; }
.sidebar-right-widget-area{ margin-left: 40px; }

.widget-title{
	border-bottom: 1px solid $borderColor;
}

.widget-container{ 
	word-wrap: break-word;
	margin-top: 5px;
	margin-bottom: 40px;
	max-width: $phone - 20px;

	ul{
		margin: 0;
		
		> li{ 
			margin-left: -24px; 
			li{ margin-left: .25rem; }
		}

		li{
			list-style: none;
			line-height: 2rem;
		}
	}
}

.widget_calendar{
	a{ text-decoration: underline; }
}

@media (max-width: $bitTablet){
	.above-content-widget-area,
	.footer-top-widget-area,
	.footer-widget-areas-wrapper{ display: block; }

	.sidebar-left-widget-area{ margin: 0 0 40px 0; }
	.sidebar-right-widget-area{ margin: 40px 0 0 0; }

	.widget-container{ max-width: 100%; }
}
