.wp-block-code {
  background-color: var(--color-gray);
  border: none;

  code {
    background-color: transparent;
  }
}

.wp-block-verse {
  font-family: var(--font-family);
  padding: .5em 0;
}

.wp-block-preformatted {
  white-space: pre;
  overflow-x: auto;
}

.wp-block-calendar table {
  display: table;
  margin-block: 1em;
}

.wp-block-pullquote {
  blockquote {
    background: transparent;
  }
}

p.wp-block-cover-text:not(.has-text-color) {
  color: var(--color-white);
}

p.wp-block-cover-text a {
  text-decoration: none;
}

.wp-block-button a,
.wp-block-file .wp-block-file__button {
  background-color: var(--color-scheme);
  color: var(--text-color);
  border-radius: var(--border-radius);
  padding: 0.5em 0.75em;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s ease-in-out;
  margin-bottom: 1em;
}

.wp-block-button.is-style-outline a {
  border-color: var(--color-scheme);
}

.wp-block-button.is-style-squared a {
  border-radius: 0;
}

.wp-block-file .wp-block-file__button {
  display: table;
  margin: .5em 0 1em 0;
  font-size: 1rem;
}

.wp-block-separator {
  border: none;
  width: 25%;
}

.wp-block-separator.is-style-wide {
  width: 100%;
}
