/* 3.4 Components: Read more link */
.read-more-link {
  position: relative;
  display: table-cell;
  border: 0.0625em solid var(--color-scheme);
  top: .5em;
  padding: .25em .5em;
  text-decoration: none;
  transition: .3s ease-in-out;
  color: var(--text-color);

  &:hover {
    background-color: var(--color-scheme);
  }
}