/* 3.6 Components: Entry tags */
.entry-tags {
  i {
    margin-right: 0.5em;
  }
  
  a {
    text-decoration: none;
    color: $text-color;
    color: var(--text-color);

    &:hover {
      text-decoration: underline;
    }
  }
}