/* Base: Tables */
table,
td,
th {
  border: var(--border-width) var(--border-style) var(--color-gray);
}

table {
  display: block;
  border-spacing: 0;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  margin-block-end: 1em;

  @media (min-width: 28em) {
    display: table;
    white-space: initial;
    border-collapse: collapse;
  }
}

thead {
  background-color: var(--color-gray);
  color: var(--color-black);
}

 td,
 th {
  padding: 1em;
}
