/* 1.1 Base: Root */
$color-white:  #FFFFFF;
$color-black:  #191919;
$color-gray:   #EAEAEA;
$color-scheme: #FFD200;

$font-family:         'Open Sans', sans-serif;
$font-size:           1rem;
$font-style:          normal;
$font-weight--thin:   300;
$font-weight--normal: 400;
$font-weight--bold:   600;
$font-weight--xbold:  700;
$font-weight--xxbold: 800;

$border-width:  0.0625em;
$border-style:  solid;
$border-color:  #191919;
$border-radius: 0.125em;

$background-color:  #FFFFFF;
$text-color:        #191919;
$header-text-color: #191919;
$anchor-color:      #191919;

:root {
  --color-white:  #{$color-white};
  --color-black:  #{$color-black};
  --color-gray:   #{$color-gray};
  --color-scheme: #{$color-scheme};

  --font-family:         #{$font-family};
  --font-size:           #{$font-size};
  --font-style:          #{$font-style};
  --font-weight--thin:   #{$font-weight--thin};
  --font-weight--normal: #{$font-weight--normal};
  --font-weight--bold:   #{$font-weight--bold};
  --font-weight--xbold:  #{$font-weight--xbold};
  --font-weight--xxbold: #{$font-weight--xxbold};

  --border-width:  #{$border-width};
  --border-style:  #{$border-width};
  --border-color:  var(--color-black);
  --border-radius: #{$border-width};

  --background-color:  var(--color-white);
  --text-color:        var(--color-black);
  --header-text-color: var(--color-black);
  --anchor-color:      var(--color-black);

  
}