/* 1.5 Base: Tables */
table,
td,
th {
  border: $border-width $border-style $color-gray;
  border: var(--border-width) var(--border-style) var(--color-gray);
}

table {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 0;
  border-width: $border-width;
  border-width: var(--border-width);
  overflow-x: auto;
  max-width: 100%;
  white-space: nowrap;
}

thead {
  background-color: $color-gray;
  background-color: var(--color-gray);
  color: $color-black;
  color: var(--color-black);
}

 td,
 th {
  padding: 1em;
}
