/* Layout: Widget areas */
.widget-areas,
.widget-area {
  > * + * {
    margin-top: 2em;
  }
}

.widget-area-top-footer,
.widget-areas-footer {
  padding-top: 2em;   
  padding-bottom: 2em;   
}

@media (min-width: 48em) {
  .widget-areas,
  .widget-area-above-content,
  .widget-area-top-footer {
    > * + * {
      margin-top: 0;
    }
  }

  .widget-area-above-content,
  .widget-area-top-footer,
  .widget-areas-footer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2em;
  }

  .widget-area-above-content,
  .widget-area-top-footer,
  .widget-areas-footer {
    padding-top: 4em;   
    padding-bottom: 4em;
  }

  .widget-areas-footer {
    grid-template-areas: 
      "footer-column-one footer-column-two"
      "footer-column-three footer-column-four";

      .widget-title {
        display: inline-block;
      }
    }

    .widget-area-footer-one {
      grid-area: footer-column-one;
    }

    .widget-area-footer-two {
      grid-area: footer-column-two;
    }

    .widget-area-footer-three {
      grid-area: footer-column-three;
    }

    .widget-area-footer-four {
      grid-area: footer-column-four;
    }
}

@media (min-width: 64em) {
  .widget-area-above-content,
  .widget-area-top-footer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .widget-areas-footer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas: "footer-column-one footer-column-two footer-column-three footer-column-four";
  }
}
