/* 5.4 Navigation: Page links */
.page-links {
  margin-top: 2em;
  clear: both;
}

.post-page-numbers {
  background-color: $color-white;
  background-color: var(--color-white);
  border: $border-width $border-style $color-scheme;
  border: var(--border-width) var(--border-style) var(--color-scheme);
  text-decoration: none;
  transition: background-color .3s ease-in-out;
  padding: 0.128em 0.5em;
  margin-left: 0.5em;

  &.current {
    background-color: $color-scheme;
    background-color: var(--color-scheme);
  }

  &:hover,
  &:focus {
    background-color: $color-scheme;
    background-color: var(--color-scheme);
  }
}

.post-page-numbers + .post-page-numbers {
  margin-left: 0.25em;
}